/Data
/lightning_logs
/result
/data
/models
**/__pycache__/
*.py[cod]
data_dh.py
data_server.py
INCEPT_V3_3D.py
main_dh.py
model_dh.py
model_server.py
model_utils.py
resnet_3d.py
run_sae.py
sae.py
showValid*.py
Stacked*
test_new_0*
train_dh*
train_ser*
tryAll*
validation*
